*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_banner{
    display:flex;

}
li{
    list-style: none;
}
.left_container{
    width:55%;
    height:700px;
}
.right_container{
    width:45%;
    height:700px;
    text-align: center;
    background-color:#d2f8d2;
}
.drug{
    padding: 15px;
}
.heading{
    text-align: start;
    padding: 25px 10px;
}
ul li::before{
    content: '*';
    font-weight: bold;
    padding-right: 5px;
}
ul li{
    padding: 10px;
    text-align: justify;
}
.text_box{
    border: solid;
    box-shadow: 10px 10px 5px 0px rgba(10,12,11,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(10,12,11,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(10,12,11,0.75);
    height:125px;
    width: 60%;
    margin-left:25% ;
    padding:30px 30px;
}
.text_box input[type="text"]{
      height: 25px;
}
.btn{
    color:black;
    padding: 2px 10px;
    background-color: azure;
    margin:20px

}
.btn:hover{
    cursor:pointer;
}
.use_container{
    width: 600px;
    height: 200px;
    position: absolute;
    margin-top: -680px;
    margin-left: 30px;
}

.use_container h4{
    padding: 10px;
}
